body{
    background-image: url("../content/Background.png"); /* The image used */
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.tarjeta{
    height: 200px;
    background: linear-gradient(90deg, rgba(255,255,255,0.7), transparent);
    border-radius: 50px; 
}

.referencia{
    color: #71388d; 
    text-decoration: none;
}

.referencia:hover{
    color: #71388d;
}

.logo{
    height: 225px;
}

@media (max-width: 600px) {
    .logo{
        height: 100px;
    }
}